<section>
    <header></header>
    <form [formGroup]="form">
        <div class="d-flex form-section">
        <div>
            <label for="valor" class="form-label">Valor</label>
            <input currencyMask [options]="{align: 'left', decimal: ','}" type="text" class="form-control" id="valor" formControlName="valor">
        </div>
        <div>
            <label for="taxaDoEstado" class="form-label">Taxa do Estado</label>
            <input readonly currencyMask [options]="{ prefix:'' ,suffix: ' % ', decimal: '.', align: 'left'}" class="form-check-input" type="text" class="form-control" id="taxaDoEstado" formControlName="taxaDoEstado" [(ngModel)]="taxaDoEstado">
        </div>
    </div>
    <div class="formRadio">
    <label for="valor" class="form-label">Tipo de compra</label>
    <div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="tipoDeCompra" id="inlineRadio1" value="dinheiro" formControlName="tipoDeCompra">
            <label class="form-check-label" for="dinheiro">Dinheiro</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="tipoDeCompra" id="inlineRadio1" value="cartao" formControlName="tipoDeCompra">
            <label class="form-check-label" for="cartao">Cartão</label>
          </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" (click)="onSubmit()" [disabled]="form.invalid"><img src="../../../assets/svg/convertion.svg" alt="Conversion image" class="convertion-image">Converter</button>
      </form>
</section>