:root{
    --primary-color: #00A868;
    --secondary-color: #8C9CAD;
    --tertiary-color: #00AB63;
    --font-color-primary: #45505E;
    --font-color-secondary: #6E7E90;
    --input-color: #008B57;
}

h1{
    font-size: 18px !important;
    color: var(--font-color-primary);
}

p{
    font-size: 14px;
    color: var(--secondary-color);
}

body {
    width: 99vw;
    height: 99vh;
    background-image: url('/assets/images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}
